<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.aclic.managesys.dao.AchiMapper">


  <resultMap id="BaseResultMap" type="per.aclic.managesys.model.Achi">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
  </resultMap>

  <resultMap id="ResultMapMUser" type="per.aclic.managesys.model.mixmodel.AchiMuser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />

    <result column="userName" jdbcType="VARCHAR" property="userName"/>
    <result column="userRole" jdbcType="INTEGER" property="userRole"/>
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, userid, type, detail, pic, ctime
  </sql>
  <select id="selectByExample" parameterType="per.aclic.managesys.model.AchiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from achi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from achi
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from achi
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="per.aclic.managesys.model.AchiExample">
    delete from achi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>


  <insert id="insert" parameterType="per.aclic.managesys.model.Achi">
    insert into achi (id, name, userid, 
      type, detail, pic, 
      ctime)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{detail,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=TIMESTAMP})
  </insert>


  <insert id="insertSelective" parameterType="per.aclic.managesys.model.Achi">
    insert into achi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="per.aclic.managesys.model.AchiExample" resultType="java.lang.Long">
    select count(*) from achi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update achi
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.detail != null">
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null">
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.ctime != null">
        ctime = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update achi
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      detail = #{record.detail,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      ctime = #{record.ctime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="per.aclic.managesys.model.Achi">
    update achi
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="per.aclic.managesys.model.Achi">
    update achi
    set name = #{name,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      detail = #{detail,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <!--  成果中心-->
  <select id="selectAllMUser"
          parameterType="per.aclic.managesys.model.AchiExample"
          resultMap="ResultMapMUser">
    SELECT a.*,u.`name` userName,u.pass userPass,u.role userRole
    FROM `achi` as a ,`user` as u where a.userid=u.id
  </select>


  <!--  根据id单个联合查询-->
  <select id="selectByPrimaryKeyMUser"
          parameterType="java.lang.String"
          resultMap="ResultMapMUser">
    SELECT a.*,u.`name` userName,u.pass userPass,u.role userRole
    FROM `achi` as a ,`user` as u where a.userid=u.id and a.id=#{id}
  </select>


  <select id="selectByUserid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    *
    from achi
    where userid = #{userid,jdbcType=VARCHAR}
  </select>

  <select id="selectByUseridMUser" parameterType="java.lang.String"
          resultMap="ResultMapMUser">
    SELECT a.*,u.`name` userName,u.pass userPass,u.role userRole
    FROM `achi` as a ,`user` as u where a.userid=u.id and a.userid=#{id}
  </select>


  <update id="updateById" parameterType="map">
    update achi set
    name = #{name,jdbcType=VARCHAR},
    userid = #{userid,jdbcType=VARCHAR},
    type = #{type,jdbcType=INTEGER},
    detail = #{detail,jdbcType=VARCHAR},
    pic = #{pic,jdbcType=VARCHAR},
    ctime = #{ctime,jdbcType=TIMESTAMP}
    where id=#{id}
  </update>


</mapper>